* {
    padding: 0;
    margin: 0;
}
.nav {
    padding: 20px 0 15px 0;
    background-color: #fbfbfb;
    overflow: auto;
}
.logo {
    float: left;
}
.search {
    float: left;
    width: 634px;
    height: 45px;
    background-color: #fff;
    border: 1px solid #e5e6e5;
}
.search>input {
    float: left;
    text-indent: 16px;
    font-size: 16px;
    height: 45px;
    width: 556px;
    border: none;
    outline: none;
}
.search>img {
    float: right;
    padding: 12px 20px 12px 0;
}
.subject {
    padding: 0 869px 0 146px;
    /* width: 634px; */
    height: 43px;
    line-height: 40px;
    font-size: 14px;
    border-bottom: 1px solid #ebebeb;
}
.left>span {
    float: left;
    padding: 0 16px;
}
.blue {
    color: #1a74eb;
    font-weight: bold;
    border-bottom: 3px solid #1a74eb;
}
.right {
    padding-left: 518px;
}
.right>span {
    padding: 0 16px;
}
.reasult {
    padding: 0 0 9px 162px;
    font-size: 14px;
    color: #838282;
    line-height: 42px;
}
.L {
    float: left;
    padding-left: 146px;
}
.L1 {
    border: 1px solid #ebebeb;
    height: 217px;
    width: 632px;
    margin-bottom: 16px;
}
.L1>p {
    padding: 17px 0 0 16px;
    width: 436px;
    font-size: 16px;
    line-height: 18px;
}
.L1>span {
    font-weight: bold;
}
.L1>img {
    float: right;
}
.L1>h2 {
    padding: 27px 0 0 16px;
    font-size: 20px;
    font-weight: normal;
    line-height: 26px;
    color: #1a0cab;
}
.L1>a {
    padding: 17px 0 0 16px;
    font-size: 14px;
    line-height: 18px;
    color: #016621;
    text-decoration: none;
}
.L2 {
    margin-top: -16px;
    padding: 4px 16px 0 0;
    float: right;
    font-size: 12px;
    line-height: 14px;
    color: #767676;
}
.L2>img {
    padding-left: 25px;
    padding-right: 9px;
    vertical-align: bottom;
}
.L3 {
    width: 618px;
}
.L3>h2 {
    padding-top: 25px;
    font-size: 18px;
    font-weight: normal;
    line-height: 24ox;
    color: #1a0cab;
}
.L3>a {
    font-size:14px;
    line-height: 18px;
    color: #016621;
    text-decoration: none;
}
.L3>img {
    vertical-align: middle;
}
.L3>span {
    font-size:14px;
    line-height: 18px;
    color: #1a0cab;
}
.L3>p {
    font-size: 14px;
    line-height: 20px;
    color: #545454;
}
.L3>p>span {
    color: #e34736;
}
.L3>h3 {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #1a0cab;
}
.L3>div {
    float: left;
    font-size: 14px;
    color: #545454;
}
.L3>.l {
    width: 370px;
}
.L3>div>span {
    font-weight: bold;
}
.Right {
    float: left;
    margin-left: 38px;
    width: 454px;
}
.R {
    float: left;
    height: 750px;
    width: 454px;
    border: 1px solid #ebebeb;
}
.R1 {
    height: 270px;
    border-bottom: 1px solid #ebebeb;
}
.R1>h2 {
    padding-top: 15px;
    padding-left: 16px;  
    font-size: 28px;
    line-height: 34px;
    font-weight: normal;
}
.R1>h2>img {
    vertical-align: bottom;
    float: right;
}
.R1>h3 {
    padding-left: 16px;
    font-size: 14px;
    font-weight: normal;
    color: #767676;
}
.R2 {
    padding-top: 12px;
    padding-left: 16px;
}
.R2>.r1 {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 10px;
}
.R2>a {
    color: #1a0cab;
}
.R2>.r2 {
    font-size: 14px;
    line-height: 24px;
}
.R3 {
    padding-top: 18px;
    padding-left: 16px;
}
.user {
    float: left;
    font-size: 18px;
    line-height: 18px;
}
.other {
    padding-right: 15px;
    float: right;
    font-size: 14px;
    color: #767676;
}
.R3>.last {
    float: left;
    font-size: 14px;
    line-height: 14px;
    color: #1a0cab;
    width:70px;
    padding-right: 17px;
}
.suggestion {
    padding-top: 6px;
    padding-right: 13px;
    float: right;
    font-style: italic;
    font-size: 14px;
    color: #767676;
}